include README.rst CHANGES.rst
include thriftpy/protocol/cybin/*.pyx thriftpy/protocol/cybin/*.c thriftpy/protocol/cybin/*.h
include thriftpy/transport/*/*.pyx thriftpy/transport/*/*.c
include thriftpy/transport/*.pyx thriftpy/transport/*.pxd thriftpy/transport/*.c
